* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid black;
}

th {
  text-align: left;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}
